@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display-swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('download.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(155, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.web2 {
    border: none;
    outline: none;
    color: rgba(0, 0, 0, .1);
    cursor: pointer;
    position: relative;
    justify-content: center;
}

.ulang-tahun {
    height: 100vh;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: double;
    font-size: 1.2rem;
}

.ulang-tahun {
    background-color: rgba(255, 255, 255, .1);
    margin : 0 auto;
    text-align: center;
}

.ulang-tahun {
    max-width: 900px;
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.ulang-tahun {
    background:linear-gradient(170deg, rgba(232,158,184,0.9), rgba(232,158,184,0.9));
    border-radius:20px;
    padding:28px;
    box-shadow:0 8px 30px rgba(250,100,150,0.08);
    backdrop-filter: blur(6px)}


.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.confetti{
  position:fixed;
  left:0; right:0; top:0; bottom:0;
  pointer-events:none;
  z-index:10;
}

.web2 {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    justify-content: center;
    right: 10%;

}

/* BREAKPOINTS */
@media (max-width:992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

#check:checked~.icons #menu-icon {
    display: none;
}


.icons #close-icon {
    display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}


.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;
    }
    

    #check:checked~.navbar a {
    transform: translateY(0);
    transition-delay: calc(.15s * var(--i));
    }

}

.confetti span{
  position:absolute;
  width:10px;
  height:16px;
  border-radius:3px;
  opacity:0.9;
  animation:fall 5s linear infinite;
}

.confetti span:nth-child(2){animation-duration:4.8s;left:20%;}
.confetti span:nth-child(3){animation-duration:5.2s;left:40%;}
.confetti span:nth-child(4){animation-duration:5.6s;left:60%;}
.confetti span:nth-child(5){animation-duration:4.4s;left:80%;}

@keyframes fall{
  0%{transform:translateY(-10vh) rotate(0deg)}
  100%{transform:translateY(120vh) rotate(520deg);opacity:1}
}

